@media(max-width:599px){[data-v-ed2f4c3c] .q-tabs__arrow{display:none}[data-v-ed2f4c3c] .q-tabs__content{overflow-x:auto;scrollbar-width:none;-ms-overflow-style:none}[data-v-ed2f4c3c] .q-tabs__content::-webkit-scrollbar{display:none}}
