@media(max-width:599px){[data-v-ddcc4dd4] .q-tabs__arrow{display:none}[data-v-ddcc4dd4] .q-tabs__content{overflow-x:auto;scrollbar-width:none;-ms-overflow-style:none}[data-v-ddcc4dd4] .q-tabs__content::-webkit-scrollbar{display:none}}
